body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: centre;
  
  background-image: url('bg.JPG'); /* Replace with your image path */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: purple;

.bg-img{
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
}
