body, html {
  font-family: Arial, sans-serif;
  align-items: flex-start;
  
  background-image: url('bg.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: purple;
}

.centered-text {
  margin-top: 10vh;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  max-width: 27%
}
