body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  background-image: url('bg.JPG'); /* Replace with your image path */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: purple;
}

.centered-text {
	margin-top: 10vh;
  text-align: center;
  font-size: 28px;
  color: #ffffff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Improves readability */
  max-width: 27%
}